[% PageVersion  = 'todo.tt,v 0.1 2023/11/09 Shanta Exp Shanta' %]
[% IF debug == 1 %]
 [%	PageVersion %]
    [% "Debugging HostName: " _ HostName %]
    [% INCLUDE 'debug.tt' %]
[% END %]
<h1>ToDo List</h1>
<ul>
    [% FOREACH task IN tasks %]
        <li>[% task %]</li>
    [% END %]
</ul>