[% SiteName = c.session.SiteName %]
[% username = c.session.username %][%# username  %]
[% welcome_message =  c.session.welcome_message %]
    [% firstname = c.session.fristname %]
    [% lastname =  c.session.lastname %]
	[% group = c.session.group%]
[% email = data.session_object.getAttribute('-KEY','auth_email') %]
